
    </div>
    <footer id="footer">
        <hr>
    	<span>&nbsp; &copy; Billy Cole 2018</span>
    	<% if(currentUser && currentUser.isAdmin){%>
    		<span id="admin-span"><strong>ADMIN PERMISSIONS</strong></span>
    	<% }; %>
	</footer>
</body>
</html>
