
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VistaMaps</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/form.css">
    <link rel="stylesheet" 
          href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" 
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" 
          crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
</head>
<body>
    <div id="main">
        <!--- NAV --->
        <div class="nav-container">
            <nav>
                <a href="/vistas"><img id="logo" src="/img/nav-logo.png"></a>
                <div>
                <% if(!currentUser){ %>
                    <div><a href="/login"><i class="fas fa-sign-in-alt"></i></a></div>
                    <div><a href="/register"><i class="fas fa-user-plus"></i></a></div>
                <% } else { %>
                    <div><a href="/users/<%= currentUser.id %>"><i class="fas fa-user"></i></a></div>
                    <div><a href="/logout"><i class="fas fa-sign-out-alt"></i></a></div>
                <% } %>
                </div>
            </nav>
        </div>
        <!----------->
        <% if(error && error.length > 0){ %>
            <div class="flash-container">
                <div class="flash error">
                    <%= error %>
                </div>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="flash-container">
                <div class="flash success">
                    <%= success %>
                </div>
            </div>
        <% } %>
