
<% include ./partials/header %>

<div class="form-container wildcard">
    <img src="/img/404.png">
    <div>We can't find the page you're looking for...</div>
    <div class="back"><a href="/vistas">Return to Vistas</a></div>
</div>

<% include ./partials/footer %>
